beakerx_table
bokeh
bqplot
ipyannotate
ipyevents
ipyleaflet
ipysheet
ipyvolume
jupyter-tensorboard
jupyterlab
jupyterlab_autoversion
jupyterlab_commands
jupyterlab_email
jupyterlab_iframe
jupyterlab_templates
lineup_widget
nbdime
nbresuse
papermill
perspective-python
plotly
plotlywidget
pylantern
pythreejs
sidecar
qgrid