beakerx
bokeh
bqplot
ipyleaflet
ipyvolume
jupyterlab
jupyterlab_commands
jupyterlab_email
jupyterlab_iframe
jupyterlab_templates
nbdime
nbresuse
papermill
perspective-python
plotly
pylantern
pythreejs
qgrid